This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'oRZmGsZ48nmhzXBxPn1N'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import requests

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned

# Use parameter limit = 1 to only return the latest date data
url = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?limit=1?api_key="+API_KEY

In [4]:
# Assign reponse object to a variable r and check the data by calling method .json()
r = requests.get(url)
r.json()

{u'dataset_data': {u'collapse': None,
  u'column_index': None,
  u'column_names': [u'Date',
   u'Open',
   u'High',
   u'Low',
   u'Close',
   u'Change',
   u'Traded Volume',
   u'Turnover',
   u'Last Price of the Day',
   u'Daily Traded Units',
   u'Daily Turnover'],
  u'data': [[u'2018-06-07',
    None,
    60.85,
    59.65,
    59.95,
    None,
    84215.0,
    5062604.0,
    None,
    None,
    None]],
  u'end_date': u'2018-06-07',
  u'frequency': u'daily',
  u'limit': 1,
  u'order': None,
  u'start_date': u'2000-06-07',
  u'transform': None}}

In [135]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
'''
A dictionary with a key : dataset_data
Columns "column_names" are structured as a list 
'''

'\nA dictionary with a key : dataset_data\nColumns "column_names" are structured as a list \n'

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

## Q1: Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

In [7]:
# Use start_date and end_date parameters to retrun data for 2017 only 
q1_url = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?start_date=2017-01-01&end_date=2017-12-31?api_key="+API_KEY
r1 = requests.get(q1_url)
r1 = r1.json()

In [8]:
# Find the key of the dict
r1.keys()

[u'dataset_data']

In [143]:
# Prepare data we need including column names and corresponding data

column_name = r1["dataset_data"]["column_names"]

data = r1["dataset_data"]["data"]

print(zip(column_name, data[0]))

[(u'Date', u'2017-12-29'), (u'Open', 51.76), (u'High', 51.94), (u'Low', 51.45), (u'Close', 51.76), (u'Change', None), (u'Traded Volume', 34640.0), (u'Turnover', 1792304.0), (u'Last Price of the Day', None), (u'Daily Traded Units', None), (u'Daily Turnover', None)]

## Q2: Convert the returned JSON object into a Python dictionary.

In [47]:
from collections import defaultdict

dataset = defaultdict(list)

for i in column_name:
    dataset[i]
    index = column_name.index(i)
    for x in data:
        dataset[i].append(x[index])

In [48]:
# Just Use DataFrame to have a clear view of the dataset
import pandas as pd
df = pd.DataFrame(dataset)

In [49]:
df.head()

,Change,Close,Daily Traded Units,Daily Turnover,Date,High,Last Price of the Day,Low,Open,Traded Volume,Turnover
0,NaN,51.76,None,None,2017-12-29,51.94,None,51.45,51.76,34640.0,1792304.0
1,NaN,51.60,None,None,2017-12-28,51.82,None,51.43,51.65,40660.0,2099024.0
2,NaN,51.82,None,None,2017-12-27,51.89,None,50.76,51.45,57452.0,2957018.0
3,NaN,51.32,None,None,2017-12-22,51.50,None,50.92,51.05,71165.0,3641949.0
4,NaN,51.40,None,None,2017-12-21,51.52,None,50.90,51.16,120649.0,6179433.0

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 11 columns):
Change                   1 non-null float64
Close                    255 non-null float64
Daily Traded Units       0 non-null object
Daily Turnover           0 non-null object
Date                     255 non-null object
High                     255 non-null float64
Last Price of the Day    0 non-null object
Low                      255 non-null float64
Open                     252 non-null float64
Traded Volume            255 non-null float64
Turnover                 255 non-null float64
dtypes: float64(7), object(4)
memory usage: 22.0+ KB

## Q3 : Calculate what the highest and lowest opening prices were for the stock in this period.

In [68]:
highest = max(dataset["Open"])
lowest = min(dataset["Open"])

print("Highest Opening Price : " + str(highest) + "\n" + "Lowest Opening Price : " + str(lowest))

Highest Opening Price : 53.11
Lowest Opening Price : None

## Q4 : What was the largest change in any one day (based on High and Low price)?

In [75]:
import numpy as np
high = np.array(dataset["High"])
low = np.array(dataset["Low"])
daily_change = high - low

In [83]:
print("Largest Change in any one day : " + str(max(daily_change)))

Largest Change in any one day : 2.81

## Q5 : What was the largest change between any two days (based on Closing Price)?

In [118]:
# Solution 1 : loop
close = dataset["Close"]
diff = []

for i in range(len(dataset["Close"])-1):
    diff.append(close[i+1] - close[i])

In [119]:
largest__diff = max(diff)
print("Largest Closing Price Difference : " + str(largest__diff))

Largest Closing Price Difference : 2.56

In [120]:
# Solution 2 : numpy diff function

np_diff = np.diff(close)

max(np_diff)

2.5599999999999952

## Q6 : What was the average daily trading volume during this year?

In [101]:
avg_vol = np.average(dataset["Traded Volume"])
print("Average Daily Treading Volume : " + str(avg_vol))

Average Daily Treading Volume : 89124.3372549

## Q7 : Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [130]:

def finding_median(x):
    col = dataset[x]
    sorted_col = sorted(col)
    if len(sorted_col) % 2 == 0:
        index = len(sorted_col) / 2
        median = (sorted_col[index] + sorted_col[index + 1]) / 2  
    else:
        index = int(round(len(sorted_col) / 2))
        median = sorted_col[index]
        
    return median

In [131]:
finding_median("Traded Volume")

76286.0

In [134]:
# QA 
sorted(dataset["Traded Volume"])[127]

76286.0